*.config
venv/
bin/
node_modules/
.npm
.log
spark-3.5.3-bin-hadoop3/
.env
**.pdf
**/*.venv
**/*.sqlite3
**/*.pyc
**/*.json
Other-Python-Projects/PyGoogle/credentials.json
Other-Python-Projects/PyGoogle/token.json
*.json
**/*.poc_venv
*.poc_venv